<footer class="section footer-classic context-dark">
    <div class="container">
      <ul class="list-inline list-inline-md footer-classic-icon-list">
        <li><a class="fab fa-instagram" href="https://www.instagram.com/henri_brv/?hl=fr"  target="_blank"></a></li>
        <li><a class="fas fa-heading" href="{{ site.url }}/index.html"></a></li>
        <li><a class="fab fa-linkedin" href="https://www.linkedin.com/in/henri-bruvry-50923b15b/"  target="_blank"></a></li>
      </ul>
      <p class="rights"><span>©&nbsp; </span><span class="copyright-year">2024</span><span>&nbsp;</span><span>{{ site.data.base.title }}</span><span>.&nbsp;</span><a href="{{ site.url }}/privacy-policy.html">Privacy Policy</a></p>
    </div>
</footer>