<section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-4" data-anchor="exhibitions" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <h6 class="section-fullpage-title">Mon parcourt 2/2</h6>
    <div class="section-fullpage-inner">
      <div class="container text-center text-xl-left">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-7">
            <div class="row row-30 row-xxl-50">
              <div class="col-sm-12">
                <h4><a href="https://nicoleglacier.fr/" target="_blank">Nicole Glacier</a></h4>
                <p class="big font-weight-bold">à Wimereux de Mai 2022 à Mai 2023</p>
                <p>Responsable de Production - Artisan Glacier</p>
              </div>
              <div class="col-sm-12">
                <h4><img src="{{ site.url }}/assets/img/michelin.png"><a href="https://www.atlantic-delpierre.com/" target="_blank">L'atlantic-La Liégeoise</a></h4>
                <p class="big font-weight-bold">à Wimereux de Sept. 2018 à Mai 2022</p>
                <p>1 étoile au guide Michelin  - Chef Delpierre<br>Second Pâtissier<br>Alternant au BTM pâtissier, confiseur, glacier et traiteur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
      <div class="parallax-scene-item parallax-scene-item-7">
        <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/Latlantic-CO336x191.jpg" alt="" width="416" height="304">
        </div>
      </div>
      <!--div class="parallax-scene-item parallax-scene-item-8">
        <div class="layer" data-depth="-.36" style="transform: translate3d(19.3684px, 24.7312px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/.jpg" alt="" width="300" height="200">
        </div>
      </div-->
      <div class="parallax-scene-item parallax-scene-item-11">
        <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/Nicoleglacier-CO336x121.jpg" alt="" width="281" height="205">
        </div>
      </div>
    </div>
  </div></section>
