<section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-4" data-anchor="exhibitions" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <h6 class="section-fullpage-title">Mon parcourt 1/2</h6>
    <div class="section-fullpage-inner">
      <div class="container text-center text-xl-left">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-7">
            <div class="row row-30 row-xxl-50">
              <div class="col-sm-12">
                <h4><a href="https://www.instagram.com/latelierdadrien/" target="_blank">Boulangerie - Pâtisserie Beaucourt</a></h4>
                <p class="big font-weight-bold">à Boulogne sur Mer de Mai 2025 à Aujourd'hui</p>
                <p>L'atelier d'Adrien Beaucourt<br>Pâtissier</p>
              </div>
              <div class="col-sm-12">
                <h4><a href="https://www.chateaudemontreuil.com/" target="_blank">Château de Montreuil</a></h4>
                <p class="big font-weight-bold">à Montreuil sur Mer de Mai 2024 à Avril 2025</p>
                <p>Groupe Living Hotels Collection<br>Second Pâtissier</p>
              </div>
              <div class="col-sm-12">
                <h4><a href="https://www.la-matelote.com/" target="_blank">La Matelote</a></h4>
                <p class="big font-weight-bold">à Boulogne sur Mer de Février 2024 à Avril 2024</p>
                <p>Gault & Millau<br>Patissier</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
      <div class="parallax-scene-item parallax-scene-item-7">
        <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/LaMatelote-CO336x189.jpg" alt="" width="416" height="304">
        </div>
      </div>
      <div class="parallax-scene-item parallax-scene-item-8">
        <div class="layer" data-depth="-.36" style="transform: translate3d(19.3684px, 24.7312px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/Chateau_Montreuil-CO336x224.jpg" alt="" width="300" height="200">
        </div>
      </div>
    </div>
  </div>
</section>
