<section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-5" data-anchor="MeJoindre" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <h6 class="section-fullpage-title">Mes Coordonnées</h6>
    <div class="section-fullpage-inner">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-7">
            <p class="big">Pour me contacter :<br></p>
            <h3 class="text-spacing-21"><a href="tel:#">{{ site.data.base.telephone }}</a></h3>
            <h5 class="mt-2 font-weight-light">{{ site.data.base.adresse }}, {{ site.data.base.codepostal }}, {{ site.data.base.ville }}</h5><a class="mail-link" href="mailto:#">{{ site.data.base.email }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
      <div class="parallax-scene-item parallax-scene-item-7 d-none d-lg-block">
        <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{site.url }}/assets/img/Pomme-CO240x320.jpg" alt="" width="473" height="345">
        </div>
      </div>
      <!--div class="parallax-scene-item parallax-scene-item-10">
        <div class="layer" data-depth="-.36" style="transform: translate3d(19.3684px, 24.7312px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{site.url }}/assets/img/fraise-CO240x320.jpg" alt="" width="398" height="290">
        </div>
      </div-->
      <div class="parallax-scene-item parallax-scene-item-9">
        <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{site.url }}/assets/img/fraise-CO240x320.jpg" alt="" width="252" height="184">
        </div>
      </div>
    </div>
  </div>
</section>