<section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-3" data-anchor="about" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
  <h6 class="section-fullpage-title">Je me présente</h6>
  <div class="section-fullpage-inner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
          <h3 class="text-center">Henri BRUVRY</h3>
          <div class="big px-2 text-justify">
            <p> Si je devais parler de moi, je me qualifierai de passionné créatif ! 
              La musique, la photographie et tout ce qui touche à la patisserie et à la boulangerie enrichissent mes journées. 
              La pâtisserie à l'assiette, cette passion, en est devenue mon métier.
              <br>Je suis passé de :           
                <br>- la théorie de l'école Bac Pro, mention complémentaire et BTM,</li>
                <br>- aux concours où l'on se mesure aux autres, 4ème régional au MAF en patisserie en 2016 et 2ème régional au 
                  Championnat de France du dessert catégorie professionnel en 2020,</li>
                <br>- à la pratique avec une Alternance dans un étoilé, et une riche expérience dans différents établissements !</li>
              <br>
              Cela m'a permis de perfectionner mon savoir faire, mon savoir être, mon savoir transmettre et mon organisation au sein des équipes et dans mon poste. 
            </p>
            <p>Mon souhait est de travailler avec une équipe motivée qui veut se dépasser et se fixer des objectifs ambitieux !.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
    <div class="parallax-scene-item parallax-scene-item-4">
      <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{site.url }}/assets/img/Vanille-CO240x320.jpg" alt="" width="281" height="205" style="will-change: transform; transform: perspective(1500px) rotateX(0deg) rotateY(0deg);">
      </div>
    </div>
    <!--div class="parallax-scene-item parallax-scene-item-6">
      <div class="layer" data-depth="-.36" style="transform: translate3d(19.3684px, 24.7312px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{site.url }}/assets/img/Pomme-CO240x320.jpg" alt="" width="429" height="313" style="will-change: transform; transform: perspective(1500px) rotateX(0deg) rotateY(0deg);">
      </div>
    </div-->
    <div class="parallax-scene-item parallax-scene-item-5">
      <div class="layer" data-depth=".2" style="transform: translate3d(-10.7602px, -13.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{site.url }}/assets/img/fraise2-CO260x480.jpg" alt="" width="344" height="251">
      </div>
    </div>
  </div>
</div></section>