<section class="section section-fullpage section-md bg-gray-100 section-fullpage-lg fp-auto-height-responsive fp-section fp-table active fp-completely" id="section-1" data-anchor="home" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <div class="section-fullpage-inner section-fullpage-inner-mode py-4">
        <div class="container text-center">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <h3>{{ site.data.base.title}}</h3>
                    <h6>{{ site.data.base.subtitle}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <div class="parallax-scene-item parallax-scene-item-1">
            <div class="layer" data-depth=".2" style="transform: translate3d(-8.7602px, -11.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/HenriBruvry-4CO895x623.jpg" alt="" width="689" height="503" style="will-change: transform; transform: perspective(1500px) rotateX(0deg) rotateY(0deg);">
            </div>
        </div>
        <div class="parallax-scene-item parallax-scene-item-2">
            <div class="layer" data-depth="-.2" style="transform: translate3d(12.7602px, 15.7395px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/HenriBruvry-2NB675x379.jpg" alt="" width="895" height="503">
            </div>
        </div>
        <div class="parallax-scene-item parallax-scene-item-3">
            <div class="layer" data-depth=".76" style="transform: translate3d(19.3684px, 24.7312px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;"><img class="tilter" src="{{ site.url }}/assets/img/HenriBruvry-1NB200x200.jpg" alt="" width="200" height="200">
            </div>
        </div>
    </div>
</div></section>