<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px); transition: 700ms;">
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-0" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
        <h6 class="section-fullpage-title">Ma recette du doux suprême</h6>
        <div class="section-fullpage-inner">
          <div class="container text-center text-xl-left">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-9">
                    <p>
                        Ce dessert m'a permis d'obtenir la 2ème place au Championnat de France du Dessert Régional dans la catégorie professionnelle. 🥈🎉 <br>
                        Le Doux Suprême commence avec l'écume d'agrumes qui explose en bouche.
                        Vient ensuite le pamplemousse rose, l'orange et le citron jaune. ils apportent de la fraicheur ainsi qu'un zeste d'acidité.<br>
                        Cette association de saveur, travaillées sous plusieurs formes et avec des techniques différentes, amènent également une douce amertume au dessert.
                        Le citron d'Iran, que j'ai découvert ces deux dernières années, donne quant à lui ce goût d'agrume confit fumé.
                        Il m'a surpris par son odeur sucrée et son parfum légèrement acidulé.<br>
                        Enfin la reine des près, son arôme d'amande amère et de vanille, travaillée en deux textures, apporte la douceur et l'harmonie à ce dessert.<br>
                        <br>
                        Je tiens à remercier tous ceux qui m'ont suivi et soutenu tout au long de cette aventure.<br>
                        Ils m'ont apporté beaucoup et je les remercie.<br>
                         Sans vous ! rien n'aurait été possible. Encore merci pour tout ce soutien 🙏<br>
                        <br>
                        Vous retrouverez, ci-après, la recette de chaque élément qui compose ce dessert.
                    </p>
                </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-1" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
        <div class="section-fullpage-inner">
            <div class="container text-center text-xl-left">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-9">
                    <h4>Marmelade d'Agrumes : (650g)</h4>
                    <p>
                        Zeste citron jaune (124g), Suprême citron jaune (74g), Zeste pamplemousse (25g), 
                        Suprême pamplemousse (34g), Zeste orange (37g), Suprême orange	(74g), 
                        Jus pamplemousse (37g), Jus citron jaune (37g), Sucre - 198g, Pectine NH (10g).
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div></section>
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-2" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
       <div class="section-fullpage-inner">
          <div class="container text-center text-xl-left">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-9">
                    <h4>Financier citron d'Iran : (361g)</h4>
                    <p>
                    Poudre d'amande	(52g), Farine (34g), Sucre (86g), Beurre (95g), Blanc d'œufs (77g), Poudre Citron d'Iran (4g).
                    </p>
                </div>
            </div>
        </div>
    </div></section>         
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-3" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
        <div class="section-fullpage-inner">
           <div class="container text-center text-xl-left">
             <div class="row justify-content-center">
                 <div class="col-lg-10 col-xl-9">
                     <h4>Tuile à l'orange : (250g)</h4>
                     <p>           
                    Sucre (50g), Cassonade (50g), Farine (50g) ,Beurre (40g), Jus d'orange (60g), Zeste d'orange (½ orange). <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div></section>          
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-4" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
        <div class="section-fullpage-inner">
           <div class="container text-center text-xl-left">
             <div class="row justify-content-center">
                 <div class="col-lg-10 col-xl-9">
                     <h4>Glace Reine des Près : (498g)</h4>
                     <p>                     
                    Lait (273g), Crème liquide (93g), Poudre de lait (21g), Sirop reine des près BIO (74g), Stabilisateur (2g), Glucose atomisé	(19g), Jaune d'œuf (16g).
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div></section>         
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-5" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <div class="section-fullpage-inner">
    <div class="container text-center text-xl-left">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">    
                <h4>Mousse Reine des Près : (754,8g)</h4>
                <p>                   
                Crème monté	(600g), Sirop reine des près (150g), Gélatine feuille 200bloom	2.5 Feuilles (4.8g).<br>
                </p>
            </div>
        </div>
    </div>
    </div></section>         
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-6" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <div class="section-fullpage-inner">
    <div class="container text-center text-xl-left">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">     
                <h4>Ecume d'Agrumes : (415g)</h4>
                <p>                 
                Jus pamplemousse (300g), Jus citron jaune (100g), Sucro	(1 c.s rase).<br>
                </p>
            </div>
        </div>
    </div>
    </div></section>         
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-7" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <div class="section-fullpage-inner">
    <div class="container text-center text-xl-left">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <h4>Gelée de pamplemousse : (375.4g)</h4>
                <p>                      
                Jus pamplemousse (336g), Sucre semoule (34g), Géllan (5.4g).<br>
                </p>
            </div>
        </div>
    </div>
    </div></section>         
    <section class="section section-fullpage section-md bg-gray-100 fp-auto-height-responsive fp-section fp-table" id="section-8" data-anchor="supremesweetrecipe" data-fp-styles="null" style="height: 695px;"><div class="fp-tableCell" style="height: 695px;">
    <div class="section-fullpage-inner">
    <div class="container text-center text-xl-left">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <h4>Sucre Tirée : (250g)</h4>
                <p>                      
                Isomalt	(250g).
                </p>
            </div>                    
        </div>
    </div></section>
</div>
